[Unit]
Description=CCal Python Script

[Service]
ExecStart=/usr/bin/python3 /home/ccaluser/CCal_V2/LedControl/main.py
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
