[Unit]
Description=CCal Gui

[Service]
ExecStart=node /home/__USERNAME__/Daily-Grid/WebGUI/server.js
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target

