[Unit]
Description=CCal Python Script

[Service]
ExecStart=/usr/bin/python3 /home/__USERNAME__/Daily-Grid/Controller/src/led_control/cli/main.py
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
